<div class="app-wrap splash-wrap">
    <div class="logo">
        <img src="assets/images/vvdn-logo.png"/>
    </div>
    <div class="row-first">
       
        <h1>GenAI Chatbot</h1>
       
        <figure>
            <img src="assets/images/ai_assistant.png" alt="">
        </figure>
    </div>
    <div class="row-second">
        <!-- <div class="version btn-radius">v.1.1.13</div> -->
        <div>How can I help you?</div>
        <button class="btn btn-radius" (click)="navigateToOtherPage()">
            <span class="swip"><img src="assets/images/get-started.svg" alt=""></span>
            <span>Get Started</span>
        </button>
    </div>
</div>